In [4]:
import pandas as pd

# Example: Load wind speed data
wind_df = pd.read_csv('data/dataset/pressure.csv')
print(wind_df.head())

              datetime  Vancouver  Portland  San Francisco  Seattle  \
0  2012-10-01 12:00:00        NaN       NaN            NaN      NaN
1  2012-10-01 13:00:00        NaN    1024.0         1009.0   1027.0
2  2012-10-01 14:00:00        NaN    1024.0         1009.0   1027.0
3  2012-10-01 15:00:00        NaN    1024.0         1009.0   1028.0
4  2012-10-01 16:00:00        NaN    1024.0         1009.0   1028.0

   Los Angeles  San Diego  Las Vegas  Phoenix  Albuquerque  ...  Philadelphia  \
0          NaN        NaN        NaN      NaN          NaN  ...           NaN
1       1013.0     1013.0     1018.0   1013.0       1024.0  ...        1014.0
2       1013.0     1013.0     1018.0   1013.0       1024.0  ...        1014.0
3       1013.0     1013.0     1018.0   1013.0       1024.0  ...        1014.0
4       1013.0     1013.0     1018.0   1013.0       1024.0  ...        1014.0

   New York  Montreal  Boston  Beersheba  Tel Aviv District   Eilat   Haifa  \
0       NaN       NaN     NaN        NaN                NaN  1011.0     NaN
1    1012.0    1001.0  1014.0      984.0             1012.0  1010.0  1013.0
2    1012.0     986.0  1014.0      984.0             1012.0  1010.0  1013.0
3    1012.0     945.0  1014.0      984.0             1012.0  1010.0  1013.0
4    1012.0     904.0  1014.0      984.0             1012.0  1010.0  1013.0

   Nahariyya  Jerusalem
0        NaN        NaN
1     1013.0      990.0
2     1013.0      990.0
3     1013.0      990.0
4     1013.0      990.0

[5 rows x 37 columns]

In [2]:
import os
print(os.listdir('data/dataset'))

['city_attributes.csv', 'humidity.csv', 'pressure.csv', 'temperature.csv', 'weather_description.csv', 'wind_direction.csv', 'wind_speed.csv']

In [5]:


city_df = pd.read_csv("data/dataset/city_attributes.csv")
print(city_df['Country'].unique())  # List all countries

['Canada' 'United States' 'Israel']

In [12]:


# Step 1: Load the wind speed dataset
wind_df = pd.read_csv("data/dataset/wind_speed.csv")

# Step 2: Convert the first column to datetime
wind_df['datetime'] = pd.to_datetime(wind_df.iloc[:, 0])

# Step 3: Keep only 'datetime' and 'San Francisco' columns
sf_df = wind_df[['datetime', 'San Francisco']].dropna()

# Step 4: Select only the first 24 hours (first 24 rows)
sf_24h = sf_df.head(100)

# Step 5: Preview the data
print(sf_24h)

               datetime  San Francisco
1   2012-10-01 13:00:00            2.0
2   2012-10-01 14:00:00            2.0
3   2012-10-01 15:00:00            2.0
4   2012-10-01 16:00:00            2.0
5   2012-10-01 17:00:00            2.0
..                  ...            ...
96  2012-10-05 12:00:00            0.0
97  2012-10-05 13:00:00            3.0
98  2012-10-05 14:00:00            3.0
99  2012-10-05 15:00:00            3.0
100 2012-10-05 16:00:00            4.0

[100 rows x 2 columns]

In [11]:


# Load all CSVs
humidity = pd.read_csv("data/dataset/humidity.csv")
pressure = pd.read_csv("data/dataset/pressure.csv")
temperature = pd.read_csv("data/dataset/temperature.csv")
weather = pd.read_csv("data/dataset/weather_description.csv")
#wind_dir = pd.read_csv("data/dataset/wind_direction.csv")
wind_speed = pd.read_csv("data/dataset/wind_speed.csv")

# Convert datetime column
for df in [humidity, pressure, temperature, weather, wind_speed]:
    df['datetime'] = pd.to_datetime(df.iloc[:, 0])

# Merge on datetime and filter only San Francisco
df = pd.DataFrame()
df['datetime'] = humidity['datetime']
df['humidity'] = humidity['San Francisco']
df['pressure'] = pressure['San Francisco']
df['temperature'] = temperature['San Francisco']

df['wind_speed'] = wind_speed['San Francisco']  # ðŸŽ¯ target

# Drop rows with missing values
df.dropna(inplace=True)

# Select only first 24 hours
sf_data = df.head(24)

# Preview final dataset
print(sf_data)

              datetime  humidity  pressure  temperature  wind_speed
1  2012-10-01 13:00:00      88.0    1009.0   289.480000         2.0
2  2012-10-01 14:00:00      87.0    1009.0   289.474993         2.0
3  2012-10-01 15:00:00      86.0    1009.0   289.460618         2.0
4  2012-10-01 16:00:00      85.0    1009.0   289.446243         2.0
5  2012-10-01 17:00:00      84.0    1009.0   289.431869         2.0
6  2012-10-01 18:00:00      83.0    1010.0   289.417494         2.0
7  2012-10-01 19:00:00      82.0    1010.0   289.403119         2.0
8  2012-10-01 20:00:00      81.0    1010.0   289.388745         1.0
9  2012-10-01 21:00:00      80.0    1010.0   289.374370         1.0
10 2012-10-01 22:00:00      79.0    1011.0   289.359995         1.0
11 2012-10-01 23:00:00      78.0    1011.0   289.345621         1.0
12 2012-10-02 00:00:00      77.0    1011.0   289.331246         1.0
13 2012-10-02 01:00:00      76.0    1011.0   289.316871         1.0
14 2012-10-02 02:00:00      75.0    1012.0   289.302496         1.0
15 2012-10-02 03:00:00      74.0    1012.0   289.288122         1.0
16 2012-10-02 04:00:00      73.0    1012.0   289.273747         1.0
17 2012-10-02 05:00:00      72.0    1012.0   289.259372         0.0
18 2012-10-02 06:00:00      71.0    1013.0   289.244998         0.0
19 2012-10-02 07:00:00      70.0    1013.0   289.230623         0.0
20 2012-10-02 08:00:00      69.0    1013.0   289.216248         0.0
21 2012-10-02 09:00:00      68.0    1013.0   289.201874         0.0
22 2012-10-02 10:00:00      67.0    1014.0   289.187499         0.0
23 2012-10-02 11:00:00      66.0    1014.0   289.173124         0.0
24 2012-10-02 12:00:00      65.0    1014.0   289.158749         0.0

In [14]:
sf_data = wind_df[['datetime', 'San Francisco']]
print("Rows:", sf_data.shape[0])

Rows: 45253

In [1]:
print("sid")

sid